<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}">
    <title>Turistattraktioner</title>
</head>
<body>
    <h1>Turistattraktioner</h1>
    <table>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th></th>
        </tr>
        <tr th:each="touristAttraction : ${touristAttractions}">
            <td th:text="${touristAttraction.name}"></td> <!-- name er konverteret til json property??? -->
            <td th:text="${touristAttraction.description}"></td>
            <td><a th:href="@{'/attractions/' + ${touristAttraction.name} + '/tags'}"><button>Tags</button></a></td>
        </tr>
    </table>

    <button>Tilføj attraktion</button>
</body>
</html>