<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}">
    <title>Tilføj turistattraktion</title>
</head>
<body>
    <h1>Tilføj turistattraktion</h1>
    <label for="name">Navn:</label>
    <input id="name">
    <br>
    <label for="description">Beskrivelse:</label>
    <input id="description">
    <br>
    <label for="cityOption">By:</label>
    <select id="cityOption" name="city" th:field="*{cities}">
        <option th:each= "city: ${cities}" th:value="${city}" th:text="${city}">Milk Type</option>
    </select>
    <br>
    <label>Tags:</label>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag}" />
    </div>
    <br>
    <button>OK</button>
    <button>Fortryd</button>
</body>
</html>