<!DOCTYPE html>
<html lang="da" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}">
    <title>Ændring af informationer</title>
</head>
<body>
<h1>Ændring af informationer</h1>
<form th:action="@{/attractions/update}" th:object="${touristAttraction}" method="post">
    <label for="name">Navn:</label>
    <input id="name" th:field="*{name}" readonly>
    <br>
    <label for="description">Beskrivelse:</label>
    <input id="description" th:field="*{description}">
    <br>
    <label for="cityOption">By:</label>
    <select id="cityOption" name="city" th:field="*{city}">
        <option th:each= "city: ${cities}" th:value="${city}" th:text="${city}"></option>
    </select>
    <br>
    <label>Tags:</label>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag}" />
    </div>
    <br>
    <button type="submit">OK</button>
</form>
<a th:href="@{/attractions}"><button>Fortryd</button></a>
</body>
</html>